.ng-valid[required]{
  border-left:5px solid green;
}
.ng-invalid:not(form){
  border-left:5px solid red;
}
span .ng-valueChanges{
  visibility: hidden;
}
.form-control{
  background-color: black;
  color: white;
}
.alert-dark{
  background-color: rgb(17, 17, 17);
  color: white;
}
#hint{
  display: flex;
}
#error{
  color: red;
  text-shadow: 2px white;
}
